.LandingVideo {
    width: 100%;
    height: 100vh;
    background-color: #000;
    padding-top: 40px;
}

    .LandingVideo-Title {
        font-size: 24px;
        font-weight: 600;
        color: #FFF;
        padding-left: 30px;
        white-space: nowrap;

    }

        .LandingVideo-VideoWrap {
            margin-top: 20px;
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


@media screen and (max-width: 800px){
    .LandingVideo-Title {
        font-size: 20px;
    }
}