.Landing-Hero {
    width: 100%;
    height: calc(100vh - 90px);
    background: url('../../../Assets/Images/Landing/LandingHero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

    .Landing-Hero-Content {
        color: #FFF;
        padding-left: 80px;
        padding-top: 8%;
        transition: padding-top .2s ease-in;
    }

        .Landing-Hero-TitleWrap {
        }

            .Landing-Hero-Title {
                font-size: 75px;
                font-weight: 900;
            }

            .Landing-Hero-Text {
                font-size: 15px;
            }

        .Landing-Hero-Button {
            width: 200px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4E4E4E;
            font-weight: 600;
            white-space: nowrap;
            margin-top: 30px;
            cursor: pointer;
        }

            .Landing-Hero-Button:hover {
                background-color: rgb(57, 57, 57);
            }

    .Landing-Hero-BottomHookWrap {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 80px;
        padding-bottom: 20px;
        cursor: pointer;
    }

        .Landing-Hero-BottomHook {
            font-size: 12px;
            font-weight: 300;
            color: #FFF;
        }

            .Bolder {
                font-weight: 800;
            }








@media screen and (max-width: 1550px){
  .Landing-Hero-Content {
      padding-top: 250px;
  }
}




@media screen and (max-width: 1000px){
    // .Landing-Hero {
    //     height: calc(70vh - 70px);
    // }
    .Landing-Hero-Content {
    //   padding-top: 150px;
  }
    .Landing-Hero-BottomHookWrap {
        // display: none;
    }
    .Landing-Hero-Title {
        font-size: 40px;
    }
    .Landing-Hero-Text {
        font-size: 10px;
        width: 50%;
    }
}


@media screen and (max-height: 600px){
    .Landing-Hero-Content {
      padding-top: 100px;
  }
//   .Landing-Hero-Title {
//       font-size: 60px;
//   }
//   .Landing-Hero-Text {
//       font-size: 13px;
//   }
}

@media screen and (max-width: 600px){
    .Landing-Hero-Content {
        padding-left: 20px;
      padding-top: 150px;
  }
  .Landing-Hero-BottomHookWrap {
      padding-left: 20px;
      padding-bottom: 40px;
  }
  .Landing-Hero-Button {
      width: 150px;
      height: 40px;
      font-size: 14px;
  }
}